/* 默认样式（可能适用于PC） */  
.ensemble {
  background-image: url('../img/background4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: "100%";
  height: 97vh;
}

/* 媒体查询，针对手机设备 */  
@media (max-width: 768px) {  
  .ensemble {  
	background-image: url('../img/backgroundpicture01.jpg');  
	width: "100%";
	height: 100vh;
  }  
}